Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.MP4
InfinityBladeEffects
MOVIES
Megascans
Original
sA_Megapack_v1
scence
StarterContent
UltraDynamicSky
UI
AiAll
Collections
Developers
FX_ALL
Maps
